@import url(http://fonts.googleapis.com/css?family=Playfair+Display:400,400italic);
@import url('https://fonts.googleapis.com/css?family=Open+Sans:300');

.logocontainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d;
  -webkit-perspective: 500px;
          perspective: 500px;
  height: 28em;
  overflow: hidden;
  background-color: #fff;
}

.logo {
  -webkit-animation: wobble 5s ease-in-out infinite;
          /*animation: wobble 5s ease-in-out infinite;*/
}

@-webkit-keyframes wobble {
  from, to {
    -webkit-transform: rotateY(-45deg);
            transform: rotateY(-45deg);
  }
  50% {
    -webkit-transform: rotateY(45deg);
            transform: rotateY(45deg);
  }
}

@keyframes wobble {
  from, to {
    -webkit-transform: rotateY(-45deg);
            transform: rotateY(-45deg);
  }
  50% {
    -webkit-transform: rotateY(45deg);
            transform: rotateY(45deg);
  }
}
.logo span {
  /*-webkit-animation: 5s ease-in-out infinite;*/
          animation: 5s ease-in-out infinite;
  /*color: transparent;
  text-shadow: 0 0 1px #000; */ 
  line-height: 1.1;
}
.logo .top span {
  font-family: 'Open Sans', sans-serif;
  font-size: 12em;
  font-weight: 300;
  color: transparent;
  text-shadow: 0 0 1px #000;
}
.logo .bottom {
  text-align: center;
}
.logo .bottom span {
  font-size: 1.2vw;
  font-weight: 100;
  text-transform: uppercase;
  letter-spacing: 1.5vw;
}
.logo span:nth-child(-n+3) {
  -webkit-animation-delay: -2.5s;
          animation-delay: -2.5s;
}

.logo span:nth-child(1),
.logo span:nth-last-child(1) {
  -webkit-animation-name: blur-1;
          animation-name: blur-1;
}

@-webkit-keyframes blur-1 {
  50% {
    text-shadow: 0 0 0.15em #000;
  }
}

@keyframes blur-1 {
  50% {
    text-shadow: 0 0 0.15em #000;
  }
}
.logo span:nth-child(2),
.logo span:nth-last-child(2) {
  -webkit-animation-name: blur-2;
          animation-name: blur-2;
}

@-webkit-keyframes blur-2 {
  50% {
    text-shadow: 0 0 0.075em #000;
  }
}

@keyframes blur-2 {
  50% {
    text-shadow: 0 0 0.075em #000;
  }
}
.logo span:nth-child(3),
.logo span:nth-last-child(3) {
  -webkit-animation-name: blur-3;
          animation-name: blur-3;
}

@-webkit-keyframes blur-3 {
  50% {
    text-shadow: 0 0 0.05em #000;
  }
}

@keyframes blur-3 {
  50% {
    text-shadow: 0 0 0.05em #000;
  }
}
