@import url(http://fonts.googleapis.com/css?family=Playfair+Display:400,400italic);
@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700,800');

section {
  padding: 50px 0px;
      min-height: 100vh;
      position: relative;

}

.bgicont {
  width: 100%;
  height: 100%;
  /*content: ' s';*/
  position: absolute;
  top: 0;
  left: 0;
  background: url("../Dizain/201371f0c2fcdab5ce661b0a1228857f.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  /*-webkit-filter: blur(5px);
  -moz-filter: blur(5px);
  -o-filter: blur(5px);
  -ms-filter: blur(5px);
  filter: blur(5px); */
}

.bgicont2 {
  width: 50%;
  height: 263px;
  /*content: ' s';*/
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  display: block;
  background: url("../Dizain/201371f0c2fcdab5ce661b0a1228857f.jpg");
  background-repeat: no-repeat;
  background-size: 200%;
  background-position: center;
  -webkit-filter: blur(5px);
  -moz-filter: blur(5px);
  -o-filter: blur(5px);
  -ms-filter: blur(5px);
  filter: blur(5px);
  box-shadow: inset 0px 0px 205px 14px rgb(0, 0, 0), 0px 0px 70px 0px black;
  background-color: rgba(170, 170, 170, 0.8);
  border: 1px solid black;
  /*transform: translate(-50%; -50%);*/
  /*-webkit-transform: translate(-50%; -50%);*/
  /*-ms-transform: translate(-50%; -50%);*/
}

.bgicont3 {
  width: 100%
  height: 100%;
  box-shadow: inset 0px 0px 190px 6px rgb(0, 0, 0);
  /*background: radial-gradient(ellipse at center, #fff 0%,#eee 50%,#ddd 100%);*/
    position: absolute;
top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

#section2 {
  background-color: #5391da;
    color: white;
}

/*--------------------------start logo*/

.logocont {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  height: 168px;
}

.logocontainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d;
  -webkit-perspective: 500px;
          perspective: 500px;
  /*height: 28em;*/
  /*overflow: hidden;*/
}

.logo {
  -webkit-animation: wobble 5s ease-in-out infinite;
          /*animation: wobble 5s ease-in-out infinite;*/
}

@-webkit-keyframes wobble {
  from, to {
    -webkit-transform: rotateY(-45deg);
            transform: rotateY(-45deg);
  }
  50% {
    -webkit-transform: rotateY(45deg);
            transform: rotateY(45deg);
  }
}

@keyframes wobble {
  from, to {
    -webkit-transform: rotateY(-45deg);
            transform: rotateY(-45deg);
  }
  50% {
    -webkit-transform: rotateY(45deg);
            transform: rotateY(45deg);
  }
}
.logo span {
  /*-webkit-animation: 5s ease-in-out infinite;*/
          animation: 5s ease-in-out infinite;
  /*color: transparent;
  text-shadow: 0 0 1px #000; */ 
  line-height: 1.1;
}
.logo .top span {
  font-family: 'Open Sans', sans-serif;
  font-size: 73px;
  font-weight: 300;
  color: transparent;
  text-shadow: 0 0 1px rgb(0, 23, 62);
}
.logo .bottom {
  text-align: center;
  width: 226px;
    line-height: 1.4;
    margin: auto;
    background-color: #8b812a;
}
.logo .bottom span {
  font-family: 'Open Sans', sans-serif;
    font-size: 20px;
    font-weight: 400;
    text-transform: uppercase;
    letter-spacing: 4px;
}
.logo span:nth-child(-n+3) {
  -webkit-animation-delay: -2.5s;
          animation-delay: -2.5s;
}

.logo span:nth-child(1),
.logo span:nth-last-child(1) {
  -webkit-animation-name: blur-1;
          animation-name: blur-1;
}

@-webkit-keyframes blur-1 {
  50% {
    text-shadow: 0 0 0.15em rgb(0, 23, 62);
  }
}

@keyframes blur-1 {
  50% {
    text-shadow: 0 0 0.15em rgb(0, 23, 62);
  }
}
.logo span:nth-child(2),
.logo span:nth-last-child(2) {
  -webkit-animation-name: blur-2;
          animation-name: blur-2;
}

@-webkit-keyframes blur-2 {
  50% {
    text-shadow: 0 0 0.075em rgb(0, 23, 62);
  }
}

@keyframes blur-2 {
  50% {
    text-shadow: 0 0 0.075em rgb(0, 23, 62);
  }
}
.logo span:nth-child(3),
.logo span:nth-last-child(3) {
  -webkit-animation-name: blur-3;
          animation-name: blur-3;
}

@-webkit-keyframes blur-3 {
  50% {
    text-shadow: 0 0 0.05em rgb(0, 23, 62);
  }
}

@keyframes blur-3 {
  50% {
    text-shadow: 0 0 0.05em rgb(0, 23, 62);
  }
}

@media screen and (min-width: 1200px) {
  .logo .top span {
  font-size: 124px;
  }
}
/*--------------------------end logo*/

/*--------------------------start random text*/

#app {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  min-height: 480px;
  width: 100%;
  min-width: 320px;
  overflow: hidden;
}

#app {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: radial-gradient(circle, #222, #0E0E0E);
  color: white;
  font-family: 'Inconsolata';
  font-size: 40px;
}

.container {
  position: relative;
}

.letter {
  position: absolute;
}

@-webkit-keyframes fade-in-1 {
  from {
    opacity: 0;
    -webkit-transform: translate3d(-99px, -133px, -134px) rotate3d(0.80642, 0.65235, 0.08761, 180deg);
            transform: translate3d(-99px, -133px, -134px) rotate3d(0.80642, 0.65235, 0.08761, 180deg);
    -webkit-filter: blur(5px);
            filter: blur(5px);
  }
  to {
    opacity: 1;
    -webkit-transform: none;
            transform: none;
    -webkit-filter: unset;
            filter: unset;
  }
}

@keyframes fade-in-1 {
  from {
    opacity: 0;
    -webkit-transform: translate3d(-99px, -133px, -134px) rotate3d(0.80642, 0.65235, 0.08761, 180deg);
            transform: translate3d(-99px, -133px, -134px) rotate3d(0.80642, 0.65235, 0.08761, 180deg);
    -webkit-filter: blur(5px);
            filter: blur(5px);
  }
  to {
    opacity: 1;
    -webkit-transform: none;
            transform: none;
    -webkit-filter: unset;
            filter: unset;
  }
}
@-webkit-keyframes fade-out-1 {
  from {
    opacity: 1;
    -webkit-transform: none;
            transform: none;
    -webkit-filter: unset;
            filter: unset;
  }
  to {
    opacity: 0;
    -webkit-transform: translate3d(-17px, -111px, -82px) rotate3d(0.66975, 0.54978, 0.74606, 180deg);
            transform: translate3d(-17px, -111px, -82px) rotate3d(0.66975, 0.54978, 0.74606, 180deg);
    -webkit-filter: blur(5px);
            filter: blur(5px);
  }
}
@keyframes fade-out-1 {
  from {
    opacity: 1;
    -webkit-transform: none;
            transform: none;
    -webkit-filter: unset;
            filter: unset;
  }
  to {
    opacity: 0;
    -webkit-transform: translate3d(-17px, -111px, -82px) rotate3d(0.66975, 0.54978, 0.74606, 180deg);
            transform: translate3d(-17px, -111px, -82px) rotate3d(0.66975, 0.54978, 0.74606, 180deg);
    -webkit-filter: blur(5px);
            filter: blur(5px);
  }
}
@-webkit-keyframes fade-in-2 {
  from {
    opacity: 0;
    -webkit-transform: translate3d(66px, 91px, -42px) rotate3d(0.34018, 0.12615, 0.32351, 180deg);
            transform: translate3d(66px, 91px, -42px) rotate3d(0.34018, 0.12615, 0.32351, 180deg);
    -webkit-filter: blur(5px);
            filter: blur(5px);
  }
  to {
    opacity: 1;
    -webkit-transform: none;
            transform: none;
    -webkit-filter: unset;
            filter: unset;
  }
}
@keyframes fade-in-2 {
  from {
    opacity: 0;
    -webkit-transform: translate3d(66px, 91px, -42px) rotate3d(0.34018, 0.12615, 0.32351, 180deg);
            transform: translate3d(66px, 91px, -42px) rotate3d(0.34018, 0.12615, 0.32351, 180deg);
    -webkit-filter: blur(5px);
            filter: blur(5px);
  }
  to {
    opacity: 1;
    -webkit-transform: none;
            transform: none;
    -webkit-filter: unset;
            filter: unset;
  }
}
@-webkit-keyframes fade-out-2 {
  from {
    opacity: 1;
    -webkit-transform: none;
            transform: none;
    -webkit-filter: unset;
            filter: unset;
  }
  to {
    opacity: 0;
    -webkit-transform: translate3d(-39px, -59px, 28px) rotate3d(0.65501, 0.15981, 0.62167, 180deg);
            transform: translate3d(-39px, -59px, 28px) rotate3d(0.65501, 0.15981, 0.62167, 180deg);
    -webkit-filter: blur(5px);
            filter: blur(5px);
  }
}
@keyframes fade-out-2 {
  from {
    opacity: 1;
    -webkit-transform: none;
            transform: none;
    -webkit-filter: unset;
            filter: unset;
  }
  to {
    opacity: 0;
    -webkit-transform: translate3d(-39px, -59px, 28px) rotate3d(0.65501, 0.15981, 0.62167, 180deg);
            transform: translate3d(-39px, -59px, 28px) rotate3d(0.65501, 0.15981, 0.62167, 180deg);
    -webkit-filter: blur(5px);
            filter: blur(5px);
  }
}
@-webkit-keyframes fade-in-3 {
  from {
    opacity: 0;
    -webkit-transform: translate3d(15px, -131px, -90px) rotate3d(0.4755, 0.95933, 0.18709, 180deg);
            transform: translate3d(15px, -131px, -90px) rotate3d(0.4755, 0.95933, 0.18709, 180deg);
    -webkit-filter: blur(5px);
            filter: blur(5px);
  }
  to {
    opacity: 1;
    -webkit-transform: none;
            transform: none;
    -webkit-filter: unset;
            filter: unset;
  }
}
@keyframes fade-in-3 {
  from {
    opacity: 0;
    -webkit-transform: translate3d(15px, -131px, -90px) rotate3d(0.4755, 0.95933, 0.18709, 180deg);
            transform: translate3d(15px, -131px, -90px) rotate3d(0.4755, 0.95933, 0.18709, 180deg);
    -webkit-filter: blur(5px);
            filter: blur(5px);
  }
  to {
    opacity: 1;
    -webkit-transform: none;
            transform: none;
    -webkit-filter: unset;
            filter: unset;
  }
}
@-webkit-keyframes fade-out-3 {
  from {
    opacity: 1;
    -webkit-transform: none;
            transform: none;
    -webkit-filter: unset;
            filter: unset;
  }
  to {
    opacity: 0;
    -webkit-transform: translate3d(129px, -23px, -84px) rotate3d(0.90616, 0.70328, 0.01583, 180deg);
            transform: translate3d(129px, -23px, -84px) rotate3d(0.90616, 0.70328, 0.01583, 180deg);
    -webkit-filter: blur(5px);
            filter: blur(5px);
  }
}
@keyframes fade-out-3 {
  from {
    opacity: 1;
    -webkit-transform: none;
            transform: none;
    -webkit-filter: unset;
            filter: unset;
  }
  to {
    opacity: 0;
    -webkit-transform: translate3d(129px, -23px, -84px) rotate3d(0.90616, 0.70328, 0.01583, 180deg);
            transform: translate3d(129px, -23px, -84px) rotate3d(0.90616, 0.70328, 0.01583, 180deg);
    -webkit-filter: blur(5px);
            filter: blur(5px);
  }
}
@-webkit-keyframes fade-in-4 {
  from {
    opacity: 0;
    -webkit-transform: translate3d(-66px, 136px, 144px) rotate3d(0.88956, 0.99384, 0.83796, 180deg);
            transform: translate3d(-66px, 136px, 144px) rotate3d(0.88956, 0.99384, 0.83796, 180deg);
    -webkit-filter: blur(5px);
            filter: blur(5px);
  }
  to {
    opacity: 1;
    -webkit-transform: none;
            transform: none;
    -webkit-filter: unset;
            filter: unset;
  }
}
@keyframes fade-in-4 {
  from {
    opacity: 0;
    -webkit-transform: translate3d(-66px, 136px, 144px) rotate3d(0.88956, 0.99384, 0.83796, 180deg);
            transform: translate3d(-66px, 136px, 144px) rotate3d(0.88956, 0.99384, 0.83796, 180deg);
    -webkit-filter: blur(5px);
            filter: blur(5px);
  }
  to {
    opacity: 1;
    -webkit-transform: none;
            transform: none;
    -webkit-filter: unset;
            filter: unset;
  }
}
@-webkit-keyframes fade-out-4 {
  from {
    opacity: 1;
    -webkit-transform: none;
            transform: none;
    -webkit-filter: unset;
            filter: unset;
  }
  to {
    opacity: 0;
    -webkit-transform: translate3d(-92px, 16px, 117px) rotate3d(0.56283, 0.86627, 0.32911, 180deg);
            transform: translate3d(-92px, 16px, 117px) rotate3d(0.56283, 0.86627, 0.32911, 180deg);
    -webkit-filter: blur(5px);
            filter: blur(5px);
  }
}
@keyframes fade-out-4 {
  from {
    opacity: 1;
    -webkit-transform: none;
            transform: none;
    -webkit-filter: unset;
            filter: unset;
  }
  to {
    opacity: 0;
    -webkit-transform: translate3d(-92px, 16px, 117px) rotate3d(0.56283, 0.86627, 0.32911, 180deg);
            transform: translate3d(-92px, 16px, 117px) rotate3d(0.56283, 0.86627, 0.32911, 180deg);
    -webkit-filter: blur(5px);
            filter: blur(5px);
  }
}
@-webkit-keyframes fade-in-5 {
  from {
    opacity: 0;
    -webkit-transform: translate3d(106px, -57px, 144px) rotate3d(0.29993, 0.00535, 0.72098, 180deg);
            transform: translate3d(106px, -57px, 144px) rotate3d(0.29993, 0.00535, 0.72098, 180deg);
    -webkit-filter: blur(5px);
            filter: blur(5px);
  }
  to {
    opacity: 1;
    -webkit-transform: none;
            transform: none;
    -webkit-filter: unset;
            filter: unset;
  }
}
@keyframes fade-in-5 {
  from {
    opacity: 0;
    -webkit-transform: translate3d(106px, -57px, 144px) rotate3d(0.29993, 0.00535, 0.72098, 180deg);
            transform: translate3d(106px, -57px, 144px) rotate3d(0.29993, 0.00535, 0.72098, 180deg);
    -webkit-filter: blur(5px);
            filter: blur(5px);
  }
  to {
    opacity: 1;
    -webkit-transform: none;
            transform: none;
    -webkit-filter: unset;
            filter: unset;
  }
}
@-webkit-keyframes fade-out-5 {
  from {
    opacity: 1;
    -webkit-transform: none;
            transform: none;
    -webkit-filter: unset;
            filter: unset;
  }
  to {
    opacity: 0;
    -webkit-transform: translate3d(-149px, 76px, 122px) rotate3d(0.66126, 0.7438, 0.50911, 180deg);
            transform: translate3d(-149px, 76px, 122px) rotate3d(0.66126, 0.7438, 0.50911, 180deg);
    -webkit-filter: blur(5px);
            filter: blur(5px);
  }
}
@keyframes fade-out-5 {
  from {
    opacity: 1;
    -webkit-transform: none;
            transform: none;
    -webkit-filter: unset;
            filter: unset;
  }
  to {
    opacity: 0;
    -webkit-transform: translate3d(-149px, 76px, 122px) rotate3d(0.66126, 0.7438, 0.50911, 180deg);
            transform: translate3d(-149px, 76px, 122px) rotate3d(0.66126, 0.7438, 0.50911, 180deg);
    -webkit-filter: blur(5px);
            filter: blur(5px);
  }
}
@-webkit-keyframes fade-in-6 {
  from {
    opacity: 0;
    -webkit-transform: translate3d(-52px, 67px, 120px) rotate3d(0.68146, 0.05691, 0.88878, 180deg);
            transform: translate3d(-52px, 67px, 120px) rotate3d(0.68146, 0.05691, 0.88878, 180deg);
    -webkit-filter: blur(5px);
            filter: blur(5px);
  }
  to {
    opacity: 1;
    -webkit-transform: none;
            transform: none;
    -webkit-filter: unset;
            filter: unset;
  }
}
@keyframes fade-in-6 {
  from {
    opacity: 0;
    -webkit-transform: translate3d(-52px, 67px, 120px) rotate3d(0.68146, 0.05691, 0.88878, 180deg);
            transform: translate3d(-52px, 67px, 120px) rotate3d(0.68146, 0.05691, 0.88878, 180deg);
    -webkit-filter: blur(5px);
            filter: blur(5px);
  }
  to {
    opacity: 1;
    -webkit-transform: none;
            transform: none;
    -webkit-filter: unset;
            filter: unset;
  }
}
@-webkit-keyframes fade-out-6 {
  from {
    opacity: 1;
    -webkit-transform: none;
            transform: none;
    -webkit-filter: unset;
            filter: unset;
  }
  to {
    opacity: 0;
    -webkit-transform: translate3d(-11px, -63px, 11px) rotate3d(0.67971, 0.43742, 0.25622, 180deg);
            transform: translate3d(-11px, -63px, 11px) rotate3d(0.67971, 0.43742, 0.25622, 180deg);
    -webkit-filter: blur(5px);
            filter: blur(5px);
  }
}
@keyframes fade-out-6 {
  from {
    opacity: 1;
    -webkit-transform: none;
            transform: none;
    -webkit-filter: unset;
            filter: unset;
  }
  to {
    opacity: 0;
    -webkit-transform: translate3d(-11px, -63px, 11px) rotate3d(0.67971, 0.43742, 0.25622, 180deg);
            transform: translate3d(-11px, -63px, 11px) rotate3d(0.67971, 0.43742, 0.25622, 180deg);
    -webkit-filter: blur(5px);
            filter: blur(5px);
  }
}
@-webkit-keyframes fade-in-7 {
  from {
    opacity: 0;
    -webkit-transform: translate3d(-61px, 1px, -126px) rotate3d(0.89027, 0.94837, 0.26328, 180deg);
            transform: translate3d(-61px, 1px, -126px) rotate3d(0.89027, 0.94837, 0.26328, 180deg);
    -webkit-filter: blur(5px);
            filter: blur(5px);
  }
  to {
    opacity: 1;
    -webkit-transform: none;
            transform: none;
    -webkit-filter: unset;
            filter: unset;
  }
}
@keyframes fade-in-7 {
  from {
    opacity: 0;
    -webkit-transform: translate3d(-61px, 1px, -126px) rotate3d(0.89027, 0.94837, 0.26328, 180deg);
            transform: translate3d(-61px, 1px, -126px) rotate3d(0.89027, 0.94837, 0.26328, 180deg);
    -webkit-filter: blur(5px);
            filter: blur(5px);
  }
  to {
    opacity: 1;
    -webkit-transform: none;
            transform: none;
    -webkit-filter: unset;
            filter: unset;
  }
}
@-webkit-keyframes fade-out-7 {
  from {
    opacity: 1;
    -webkit-transform: none;
            transform: none;
    -webkit-filter: unset;
            filter: unset;
  }
  to {
    opacity: 0;
    -webkit-transform: translate3d(91px, 74px, 64px) rotate3d(0.93746, 0.16681, 0.51418, 180deg);
            transform: translate3d(91px, 74px, 64px) rotate3d(0.93746, 0.16681, 0.51418, 180deg);
    -webkit-filter: blur(5px);
            filter: blur(5px);
  }
}
@keyframes fade-out-7 {
  from {
    opacity: 1;
    -webkit-transform: none;
            transform: none;
    -webkit-filter: unset;
            filter: unset;
  }
  to {
    opacity: 0;
    -webkit-transform: translate3d(91px, 74px, 64px) rotate3d(0.93746, 0.16681, 0.51418, 180deg);
            transform: translate3d(91px, 74px, 64px) rotate3d(0.93746, 0.16681, 0.51418, 180deg);
    -webkit-filter: blur(5px);
            filter: blur(5px);
  }
}
@-webkit-keyframes fade-in-8 {
  from {
    opacity: 0;
    -webkit-transform: translate3d(132px, -50px, -62px) rotate3d(0.83524, 0.22483, 0.12655, 180deg);
            transform: translate3d(132px, -50px, -62px) rotate3d(0.83524, 0.22483, 0.12655, 180deg);
    -webkit-filter: blur(5px);
            filter: blur(5px);
  }
  to {
    opacity: 1;
    -webkit-transform: none;
            transform: none;
    -webkit-filter: unset;
            filter: unset;
  }
}
@keyframes fade-in-8 {
  from {
    opacity: 0;
    -webkit-transform: translate3d(132px, -50px, -62px) rotate3d(0.83524, 0.22483, 0.12655, 180deg);
            transform: translate3d(132px, -50px, -62px) rotate3d(0.83524, 0.22483, 0.12655, 180deg);
    -webkit-filter: blur(5px);
            filter: blur(5px);
  }
  to {
    opacity: 1;
    -webkit-transform: none;
            transform: none;
    -webkit-filter: unset;
            filter: unset;
  }
}
@-webkit-keyframes fade-out-8 {
  from {
    opacity: 1;
    -webkit-transform: none;
            transform: none;
    -webkit-filter: unset;
            filter: unset;
  }
  to {
    opacity: 0;
    -webkit-transform: translate3d(-91px, -55px, -38px) rotate3d(0.05646, 0.24092, 0.60226, 180deg);
            transform: translate3d(-91px, -55px, -38px) rotate3d(0.05646, 0.24092, 0.60226, 180deg);
    -webkit-filter: blur(5px);
            filter: blur(5px);
  }
}
@keyframes fade-out-8 {
  from {
    opacity: 1;
    -webkit-transform: none;
            transform: none;
    -webkit-filter: unset;
            filter: unset;
  }
  to {
    opacity: 0;
    -webkit-transform: translate3d(-91px, -55px, -38px) rotate3d(0.05646, 0.24092, 0.60226, 180deg);
            transform: translate3d(-91px, -55px, -38px) rotate3d(0.05646, 0.24092, 0.60226, 180deg);
    -webkit-filter: blur(5px);
            filter: blur(5px);
  }
}
@-webkit-keyframes fade-in-9 {
  from {
    opacity: 0;
    -webkit-transform: translate3d(-81px, -17px, -47px) rotate3d(0.95412, 0.68548, 0.57148, 180deg);
            transform: translate3d(-81px, -17px, -47px) rotate3d(0.95412, 0.68548, 0.57148, 180deg);
    -webkit-filter: blur(5px);
            filter: blur(5px);
  }
  to {
    opacity: 1;
    -webkit-transform: none;
            transform: none;
    -webkit-filter: unset;
            filter: unset;
  }
}
@keyframes fade-in-9 {
  from {
    opacity: 0;
    -webkit-transform: translate3d(-81px, -17px, -47px) rotate3d(0.95412, 0.68548, 0.57148, 180deg);
            transform: translate3d(-81px, -17px, -47px) rotate3d(0.95412, 0.68548, 0.57148, 180deg);
    -webkit-filter: blur(5px);
            filter: blur(5px);
  }
  to {
    opacity: 1;
    -webkit-transform: none;
            transform: none;
    -webkit-filter: unset;
            filter: unset;
  }
}
@-webkit-keyframes fade-out-9 {
  from {
    opacity: 1;
    -webkit-transform: none;
            transform: none;
    -webkit-filter: unset;
            filter: unset;
  }
  to {
    opacity: 0;
    -webkit-transform: translate3d(-49px, -52px, 143px) rotate3d(0.44249, 0.75782, 0.84027, 180deg);
            transform: translate3d(-49px, -52px, 143px) rotate3d(0.44249, 0.75782, 0.84027, 180deg);
    -webkit-filter: blur(5px);
            filter: blur(5px);
  }
}
@keyframes fade-out-9 {
  from {
    opacity: 1;
    -webkit-transform: none;
            transform: none;
    -webkit-filter: unset;
            filter: unset;
  }
  to {
    opacity: 0;
    -webkit-transform: translate3d(-49px, -52px, 143px) rotate3d(0.44249, 0.75782, 0.84027, 180deg);
            transform: translate3d(-49px, -52px, 143px) rotate3d(0.44249, 0.75782, 0.84027, 180deg);
    -webkit-filter: blur(5px);
            filter: blur(5px);
  }
}
@-webkit-keyframes fade-in-10 {
  from {
    opacity: 0;
    -webkit-transform: translate3d(-88px, 36px, -36px) rotate3d(0.31729, 0.09215, 0.01222, 180deg);
            transform: translate3d(-88px, 36px, -36px) rotate3d(0.31729, 0.09215, 0.01222, 180deg);
    -webkit-filter: blur(5px);
            filter: blur(5px);
  }
  to {
    opacity: 1;
    -webkit-transform: none;
            transform: none;
    -webkit-filter: unset;
            filter: unset;
  }
}
@keyframes fade-in-10 {
  from {
    opacity: 0;
    -webkit-transform: translate3d(-88px, 36px, -36px) rotate3d(0.31729, 0.09215, 0.01222, 180deg);
            transform: translate3d(-88px, 36px, -36px) rotate3d(0.31729, 0.09215, 0.01222, 180deg);
    -webkit-filter: blur(5px);
            filter: blur(5px);
  }
  to {
    opacity: 1;
    -webkit-transform: none;
            transform: none;
    -webkit-filter: unset;
            filter: unset;
  }
}
@-webkit-keyframes fade-out-10 {
  from {
    opacity: 1;
    -webkit-transform: none;
            transform: none;
    -webkit-filter: unset;
            filter: unset;
  }
  to {
    opacity: 0;
    -webkit-transform: translate3d(92px, 33px, -101px) rotate3d(0.11127, 0.11531, 0.46777, 180deg);
            transform: translate3d(92px, 33px, -101px) rotate3d(0.11127, 0.11531, 0.46777, 180deg);
    -webkit-filter: blur(5px);
            filter: blur(5px);
  }
}
@keyframes fade-out-10 {
  from {
    opacity: 1;
    -webkit-transform: none;
            transform: none;
    -webkit-filter: unset;
            filter: unset;
  }
  to {
    opacity: 0;
    -webkit-transform: translate3d(92px, 33px, -101px) rotate3d(0.11127, 0.11531, 0.46777, 180deg);
            transform: translate3d(92px, 33px, -101px) rotate3d(0.11127, 0.11531, 0.46777, 180deg);
    -webkit-filter: blur(5px);
            filter: blur(5px);
  }
}
@-webkit-keyframes fade-in-11 {
  from {
    opacity: 0;
    -webkit-transform: translate3d(-12px, 37px, -68px) rotate3d(0.77871, 0.26677, 0.53902, 180deg);
            transform: translate3d(-12px, 37px, -68px) rotate3d(0.77871, 0.26677, 0.53902, 180deg);
    -webkit-filter: blur(5px);
            filter: blur(5px);
  }
  to {
    opacity: 1;
    -webkit-transform: none;
            transform: none;
    -webkit-filter: unset;
            filter: unset;
  }
}
@keyframes fade-in-11 {
  from {
    opacity: 0;
    -webkit-transform: translate3d(-12px, 37px, -68px) rotate3d(0.77871, 0.26677, 0.53902, 180deg);
            transform: translate3d(-12px, 37px, -68px) rotate3d(0.77871, 0.26677, 0.53902, 180deg);
    -webkit-filter: blur(5px);
            filter: blur(5px);
  }
  to {
    opacity: 1;
    -webkit-transform: none;
            transform: none;
    -webkit-filter: unset;
            filter: unset;
  }
}
@-webkit-keyframes fade-out-11 {
  from {
    opacity: 1;
    -webkit-transform: none;
            transform: none;
    -webkit-filter: unset;
            filter: unset;
  }
  to {
    opacity: 0;
    -webkit-transform: translate3d(-36px, 51px, 7px) rotate3d(0.72493, 0.94238, 0.71887, 180deg);
            transform: translate3d(-36px, 51px, 7px) rotate3d(0.72493, 0.94238, 0.71887, 180deg);
    -webkit-filter: blur(5px);
            filter: blur(5px);
  }
}
@keyframes fade-out-11 {
  from {
    opacity: 1;
    -webkit-transform: none;
            transform: none;
    -webkit-filter: unset;
            filter: unset;
  }
  to {
    opacity: 0;
    -webkit-transform: translate3d(-36px, 51px, 7px) rotate3d(0.72493, 0.94238, 0.71887, 180deg);
            transform: translate3d(-36px, 51px, 7px) rotate3d(0.72493, 0.94238, 0.71887, 180deg);
    -webkit-filter: blur(5px);
            filter: blur(5px);
  }
}
@-webkit-keyframes fade-in-12 {
  from {
    opacity: 0;
    -webkit-transform: translate3d(-119px, 123px, 8px) rotate3d(0.96341, 0.4342, 0.55694, 180deg);
            transform: translate3d(-119px, 123px, 8px) rotate3d(0.96341, 0.4342, 0.55694, 180deg);
    -webkit-filter: blur(5px);
            filter: blur(5px);
  }
  to {
    opacity: 1;
    -webkit-transform: none;
            transform: none;
    -webkit-filter: unset;
            filter: unset;
  }
}
@keyframes fade-in-12 {
  from {
    opacity: 0;
    -webkit-transform: translate3d(-119px, 123px, 8px) rotate3d(0.96341, 0.4342, 0.55694, 180deg);
            transform: translate3d(-119px, 123px, 8px) rotate3d(0.96341, 0.4342, 0.55694, 180deg);
    -webkit-filter: blur(5px);
            filter: blur(5px);
  }
  to {
    opacity: 1;
    -webkit-transform: none;
            transform: none;
    -webkit-filter: unset;
            filter: unset;
  }
}
@-webkit-keyframes fade-out-12 {
  from {
    opacity: 1;
    -webkit-transform: none;
            transform: none;
    -webkit-filter: unset;
            filter: unset;
  }
  to {
    opacity: 0;
    -webkit-transform: translate3d(81px, -36px, -23px) rotate3d(0.39581, 0.0214, 0.47114, 180deg);
            transform: translate3d(81px, -36px, -23px) rotate3d(0.39581, 0.0214, 0.47114, 180deg);
    -webkit-filter: blur(5px);
            filter: blur(5px);
  }
}
@keyframes fade-out-12 {
  from {
    opacity: 1;
    -webkit-transform: none;
            transform: none;
    -webkit-filter: unset;
            filter: unset;
  }
  to {
    opacity: 0;
    -webkit-transform: translate3d(81px, -36px, -23px) rotate3d(0.39581, 0.0214, 0.47114, 180deg);
            transform: translate3d(81px, -36px, -23px) rotate3d(0.39581, 0.0214, 0.47114, 180deg);
    -webkit-filter: blur(5px);
            filter: blur(5px);
  }
}
@-webkit-keyframes fade-in-13 {
  from {
    opacity: 0;
    -webkit-transform: translate3d(-143px, -129px, -142px) rotate3d(0.26383, 0.55016, 0.99797, 180deg);
            transform: translate3d(-143px, -129px, -142px) rotate3d(0.26383, 0.55016, 0.99797, 180deg);
    -webkit-filter: blur(5px);
            filter: blur(5px);
  }
  to {
    opacity: 1;
    -webkit-transform: none;
            transform: none;
    -webkit-filter: unset;
            filter: unset;
  }
}
@keyframes fade-in-13 {
  from {
    opacity: 0;
    -webkit-transform: translate3d(-143px, -129px, -142px) rotate3d(0.26383, 0.55016, 0.99797, 180deg);
            transform: translate3d(-143px, -129px, -142px) rotate3d(0.26383, 0.55016, 0.99797, 180deg);
    -webkit-filter: blur(5px);
            filter: blur(5px);
  }
  to {
    opacity: 1;
    -webkit-transform: none;
            transform: none;
    -webkit-filter: unset;
            filter: unset;
  }
}
@-webkit-keyframes fade-out-13 {
  from {
    opacity: 1;
    -webkit-transform: none;
            transform: none;
    -webkit-filter: unset;
            filter: unset;
  }
  to {
    opacity: 0;
    -webkit-transform: translate3d(-143px, 8px, -65px) rotate3d(0.3351, 0.3274, 0.88581, 180deg);
            transform: translate3d(-143px, 8px, -65px) rotate3d(0.3351, 0.3274, 0.88581, 180deg);
    -webkit-filter: blur(5px);
            filter: blur(5px);
  }
}
@keyframes fade-out-13 {
  from {
    opacity: 1;
    -webkit-transform: none;
            transform: none;
    -webkit-filter: unset;
            filter: unset;
  }
  to {
    opacity: 0;
    -webkit-transform: translate3d(-143px, 8px, -65px) rotate3d(0.3351, 0.3274, 0.88581, 180deg);
            transform: translate3d(-143px, 8px, -65px) rotate3d(0.3351, 0.3274, 0.88581, 180deg);
    -webkit-filter: blur(5px);
            filter: blur(5px);
  }
}
@-webkit-keyframes fade-in-14 {
  from {
    opacity: 0;
    -webkit-transform: translate3d(48px, 136px, -51px) rotate3d(0.66924, 0.80266, 0.25179, 180deg);
            transform: translate3d(48px, 136px, -51px) rotate3d(0.66924, 0.80266, 0.25179, 180deg);
    -webkit-filter: blur(5px);
            filter: blur(5px);
  }
  to {
    opacity: 1;
    -webkit-transform: none;
            transform: none;
    -webkit-filter: unset;
            filter: unset;
  }
}
@keyframes fade-in-14 {
  from {
    opacity: 0;
    -webkit-transform: translate3d(48px, 136px, -51px) rotate3d(0.66924, 0.80266, 0.25179, 180deg);
            transform: translate3d(48px, 136px, -51px) rotate3d(0.66924, 0.80266, 0.25179, 180deg);
    -webkit-filter: blur(5px);
            filter: blur(5px);
  }
  to {
    opacity: 1;
    -webkit-transform: none;
            transform: none;
    -webkit-filter: unset;
            filter: unset;
  }
}
@-webkit-keyframes fade-out-14 {
  from {
    opacity: 1;
    -webkit-transform: none;
            transform: none;
    -webkit-filter: unset;
            filter: unset;
  }
  to {
    opacity: 0;
    -webkit-transform: translate3d(56px, -102px, -133px) rotate3d(0.94127, 0.57173, 0.67989, 180deg);
            transform: translate3d(56px, -102px, -133px) rotate3d(0.94127, 0.57173, 0.67989, 180deg);
    -webkit-filter: blur(5px);
            filter: blur(5px);
  }
}
@keyframes fade-out-14 {
  from {
    opacity: 1;
    -webkit-transform: none;
            transform: none;
    -webkit-filter: unset;
            filter: unset;
  }
  to {
    opacity: 0;
    -webkit-transform: translate3d(56px, -102px, -133px) rotate3d(0.94127, 0.57173, 0.67989, 180deg);
            transform: translate3d(56px, -102px, -133px) rotate3d(0.94127, 0.57173, 0.67989, 180deg);
    -webkit-filter: blur(5px);
            filter: blur(5px);
  }
}
@-webkit-keyframes fade-in-15 {
  from {
    opacity: 0;
    -webkit-transform: translate3d(-64px, 109px, 114px) rotate3d(0.46036, 0.32234, 0.64639, 180deg);
            transform: translate3d(-64px, 109px, 114px) rotate3d(0.46036, 0.32234, 0.64639, 180deg);
    -webkit-filter: blur(5px);
            filter: blur(5px);
  }
  to {
    opacity: 1;
    -webkit-transform: none;
            transform: none;
    -webkit-filter: unset;
            filter: unset;
  }
}
@keyframes fade-in-15 {
  from {
    opacity: 0;
    -webkit-transform: translate3d(-64px, 109px, 114px) rotate3d(0.46036, 0.32234, 0.64639, 180deg);
            transform: translate3d(-64px, 109px, 114px) rotate3d(0.46036, 0.32234, 0.64639, 180deg);
    -webkit-filter: blur(5px);
            filter: blur(5px);
  }
  to {
    opacity: 1;
    -webkit-transform: none;
            transform: none;
    -webkit-filter: unset;
            filter: unset;
  }
}
@-webkit-keyframes fade-out-15 {
  from {
    opacity: 1;
    -webkit-transform: none;
            transform: none;
    -webkit-filter: unset;
            filter: unset;
  }
  to {
    opacity: 0;
    -webkit-transform: translate3d(110px, -62px, 50px) rotate3d(0.78586, 0.53147, 0.0395, 180deg);
            transform: translate3d(110px, -62px, 50px) rotate3d(0.78586, 0.53147, 0.0395, 180deg);
    -webkit-filter: blur(5px);
            filter: blur(5px);
  }
}
@keyframes fade-out-15 {
  from {
    opacity: 1;
    -webkit-transform: none;
            transform: none;
    -webkit-filter: unset;
            filter: unset;
  }
  to {
    opacity: 0;
    -webkit-transform: translate3d(110px, -62px, 50px) rotate3d(0.78586, 0.53147, 0.0395, 180deg);
            transform: translate3d(110px, -62px, 50px) rotate3d(0.78586, 0.53147, 0.0395, 180deg);
    -webkit-filter: blur(5px);
            filter: blur(5px);
  }
}
@-webkit-keyframes fade-in-16 {
  from {
    opacity: 0;
    -webkit-transform: translate3d(148px, 17px, -49px) rotate3d(0.61889, 0.72897, 0.49621, 180deg);
            transform: translate3d(148px, 17px, -49px) rotate3d(0.61889, 0.72897, 0.49621, 180deg);
    -webkit-filter: blur(5px);
            filter: blur(5px);
  }
  to {
    opacity: 1;
    -webkit-transform: none;
            transform: none;
    -webkit-filter: unset;
            filter: unset;
  }
}
@keyframes fade-in-16 {
  from {
    opacity: 0;
    -webkit-transform: translate3d(148px, 17px, -49px) rotate3d(0.61889, 0.72897, 0.49621, 180deg);
            transform: translate3d(148px, 17px, -49px) rotate3d(0.61889, 0.72897, 0.49621, 180deg);
    -webkit-filter: blur(5px);
            filter: blur(5px);
  }
  to {
    opacity: 1;
    -webkit-transform: none;
            transform: none;
    -webkit-filter: unset;
            filter: unset;
  }
}
@-webkit-keyframes fade-out-16 {
  from {
    opacity: 1;
    -webkit-transform: none;
            transform: none;
    -webkit-filter: unset;
            filter: unset;
  }
  to {
    opacity: 0;
    -webkit-transform: translate3d(28px, -48px, 117px) rotate3d(0.78845, 0.29309, 0.74292, 180deg);
            transform: translate3d(28px, -48px, 117px) rotate3d(0.78845, 0.29309, 0.74292, 180deg);
    -webkit-filter: blur(5px);
            filter: blur(5px);
  }
}
@keyframes fade-out-16 {
  from {
    opacity: 1;
    -webkit-transform: none;
            transform: none;
    -webkit-filter: unset;
            filter: unset;
  }
  to {
    opacity: 0;
    -webkit-transform: translate3d(28px, -48px, 117px) rotate3d(0.78845, 0.29309, 0.74292, 180deg);
            transform: translate3d(28px, -48px, 117px) rotate3d(0.78845, 0.29309, 0.74292, 180deg);
    -webkit-filter: blur(5px);
            filter: blur(5px);
  }
}
@-webkit-keyframes fade-in-17 {
  from {
    opacity: 0;
    -webkit-transform: translate3d(11px, 17px, -100px) rotate3d(0.85155, 0.82306, 0.88299, 180deg);
            transform: translate3d(11px, 17px, -100px) rotate3d(0.85155, 0.82306, 0.88299, 180deg);
    -webkit-filter: blur(5px);
            filter: blur(5px);
  }
  to {
    opacity: 1;
    -webkit-transform: none;
            transform: none;
    -webkit-filter: unset;
            filter: unset;
  }
}
@keyframes fade-in-17 {
  from {
    opacity: 0;
    -webkit-transform: translate3d(11px, 17px, -100px) rotate3d(0.85155, 0.82306, 0.88299, 180deg);
            transform: translate3d(11px, 17px, -100px) rotate3d(0.85155, 0.82306, 0.88299, 180deg);
    -webkit-filter: blur(5px);
            filter: blur(5px);
  }
  to {
    opacity: 1;
    -webkit-transform: none;
            transform: none;
    -webkit-filter: unset;
            filter: unset;
  }
}
@-webkit-keyframes fade-out-17 {
  from {
    opacity: 1;
    -webkit-transform: none;
            transform: none;
    -webkit-filter: unset;
            filter: unset;
  }
  to {
    opacity: 0;
    -webkit-transform: translate3d(128px, 55px, 34px) rotate3d(0.19095, 0.67948, 0.32215, 180deg);
            transform: translate3d(128px, 55px, 34px) rotate3d(0.19095, 0.67948, 0.32215, 180deg);
    -webkit-filter: blur(5px);
            filter: blur(5px);
  }
}
@keyframes fade-out-17 {
  from {
    opacity: 1;
    -webkit-transform: none;
            transform: none;
    -webkit-filter: unset;
            filter: unset;
  }
  to {
    opacity: 0;
    -webkit-transform: translate3d(128px, 55px, 34px) rotate3d(0.19095, 0.67948, 0.32215, 180deg);
            transform: translate3d(128px, 55px, 34px) rotate3d(0.19095, 0.67948, 0.32215, 180deg);
    -webkit-filter: blur(5px);
            filter: blur(5px);
  }
}
@-webkit-keyframes fade-in-18 {
  from {
    opacity: 0;
    -webkit-transform: translate3d(-35px, -3px, -84px) rotate3d(0.80331, 0.98521, 0.56525, 180deg);
            transform: translate3d(-35px, -3px, -84px) rotate3d(0.80331, 0.98521, 0.56525, 180deg);
    -webkit-filter: blur(5px);
            filter: blur(5px);
  }
  to {
    opacity: 1;
    -webkit-transform: none;
            transform: none;
    -webkit-filter: unset;
            filter: unset;
  }
}
@keyframes fade-in-18 {
  from {
    opacity: 0;
    -webkit-transform: translate3d(-35px, -3px, -84px) rotate3d(0.80331, 0.98521, 0.56525, 180deg);
            transform: translate3d(-35px, -3px, -84px) rotate3d(0.80331, 0.98521, 0.56525, 180deg);
    -webkit-filter: blur(5px);
            filter: blur(5px);
  }
  to {
    opacity: 1;
    -webkit-transform: none;
            transform: none;
    -webkit-filter: unset;
            filter: unset;
  }
}
@-webkit-keyframes fade-out-18 {
  from {
    opacity: 1;
    -webkit-transform: none;
            transform: none;
    -webkit-filter: unset;
            filter: unset;
  }
  to {
    opacity: 0;
    -webkit-transform: translate3d(56px, -32px, -51px) rotate3d(0.2731, 0.72477, 0.69802, 180deg);
            transform: translate3d(56px, -32px, -51px) rotate3d(0.2731, 0.72477, 0.69802, 180deg);
    -webkit-filter: blur(5px);
            filter: blur(5px);
  }
}
@keyframes fade-out-18 {
  from {
    opacity: 1;
    -webkit-transform: none;
            transform: none;
    -webkit-filter: unset;
            filter: unset;
  }
  to {
    opacity: 0;
    -webkit-transform: translate3d(56px, -32px, -51px) rotate3d(0.2731, 0.72477, 0.69802, 180deg);
            transform: translate3d(56px, -32px, -51px) rotate3d(0.2731, 0.72477, 0.69802, 180deg);
    -webkit-filter: blur(5px);
            filter: blur(5px);
  }
}
@-webkit-keyframes fade-in-19 {
  from {
    opacity: 0;
    -webkit-transform: translate3d(69px, 129px, 119px) rotate3d(0.11012, 0.66261, 0.65987, 180deg);
            transform: translate3d(69px, 129px, 119px) rotate3d(0.11012, 0.66261, 0.65987, 180deg);
    -webkit-filter: blur(5px);
            filter: blur(5px);
  }
  to {
    opacity: 1;
    -webkit-transform: none;
            transform: none;
    -webkit-filter: unset;
            filter: unset;
  }
}
@keyframes fade-in-19 {
  from {
    opacity: 0;
    -webkit-transform: translate3d(69px, 129px, 119px) rotate3d(0.11012, 0.66261, 0.65987, 180deg);
            transform: translate3d(69px, 129px, 119px) rotate3d(0.11012, 0.66261, 0.65987, 180deg);
    -webkit-filter: blur(5px);
            filter: blur(5px);
  }
  to {
    opacity: 1;
    -webkit-transform: none;
            transform: none;
    -webkit-filter: unset;
            filter: unset;
  }
}
@-webkit-keyframes fade-out-19 {
  from {
    opacity: 1;
    -webkit-transform: none;
            transform: none;
    -webkit-filter: unset;
            filter: unset;
  }
  to {
    opacity: 0;
    -webkit-transform: translate3d(-73px, 105px, -4px) rotate3d(0.05295, 0.17901, 0.85937, 180deg);
            transform: translate3d(-73px, 105px, -4px) rotate3d(0.05295, 0.17901, 0.85937, 180deg);
    -webkit-filter: blur(5px);
            filter: blur(5px);
  }
}
@keyframes fade-out-19 {
  from {
    opacity: 1;
    -webkit-transform: none;
            transform: none;
    -webkit-filter: unset;
            filter: unset;
  }
  to {
    opacity: 0;
    -webkit-transform: translate3d(-73px, 105px, -4px) rotate3d(0.05295, 0.17901, 0.85937, 180deg);
            transform: translate3d(-73px, 105px, -4px) rotate3d(0.05295, 0.17901, 0.85937, 180deg);
    -webkit-filter: blur(5px);
            filter: blur(5px);
  }
}
@-webkit-keyframes fade-in-20 {
  from {
    opacity: 0;
    -webkit-transform: translate3d(-121px, 134px, -33px) rotate3d(0.05832, 0.50635, 0.13406, 180deg);
            transform: translate3d(-121px, 134px, -33px) rotate3d(0.05832, 0.50635, 0.13406, 180deg);
    -webkit-filter: blur(5px);
            filter: blur(5px);
  }
  to {
    opacity: 1;
    -webkit-transform: none;
            transform: none;
    -webkit-filter: unset;
            filter: unset;
  }
}
@keyframes fade-in-20 {
  from {
    opacity: 0;
    -webkit-transform: translate3d(-121px, 134px, -33px) rotate3d(0.05832, 0.50635, 0.13406, 180deg);
            transform: translate3d(-121px, 134px, -33px) rotate3d(0.05832, 0.50635, 0.13406, 180deg);
    -webkit-filter: blur(5px);
            filter: blur(5px);
  }
  to {
    opacity: 1;
    -webkit-transform: none;
            transform: none;
    -webkit-filter: unset;
            filter: unset;
  }
}
@-webkit-keyframes fade-out-20 {
  from {
    opacity: 1;
    -webkit-transform: none;
            transform: none;
    -webkit-filter: unset;
            filter: unset;
  }
  to {
    opacity: 0;
    -webkit-transform: translate3d(125px, 147px, 95px) rotate3d(0.07074, 0.99415, 0.58246, 180deg);
            transform: translate3d(125px, 147px, 95px) rotate3d(0.07074, 0.99415, 0.58246, 180deg);
    -webkit-filter: blur(5px);
            filter: blur(5px);
  }
}
@keyframes fade-out-20 {
  from {
    opacity: 1;
    -webkit-transform: none;
            transform: none;
    -webkit-filter: unset;
            filter: unset;
  }
  to {
    opacity: 0;
    -webkit-transform: translate3d(125px, 147px, 95px) rotate3d(0.07074, 0.99415, 0.58246, 180deg);
            transform: translate3d(125px, 147px, 95px) rotate3d(0.07074, 0.99415, 0.58246, 180deg);
    -webkit-filter: blur(5px);
            filter: blur(5px);
  }
}

/*----------------------end random text*/